body {
  overflow: hidden;
}

html,
body,
#container {
  width: 100%;
  height: 100%;
}

#container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.falling-element {
  width: 75px;
  height: 75px;
  position: absolute;
  background-size: 100% 100%;
}

.rising-element {
  width: 5px;
  height: 5px;
  position: absolute;
  background-size: 100% 100%;
  opacity: 0.1;
}

.explosion-element {
  width: 75px;
  height: 75px;
  position: absolute;
  background-size: 100% 100%;
}

.firework-element {
  width: 75px;
  height: 75px;
  position: absolute;
  background-size: 100% 100%;
}

.volcano-element {
  width: 75px;
  height: 75px;
  position: absolute;
  background-size: 100% 100%;
}

.lurking-element {
  width: 400px;
  height: 400px;
  position: absolute;
  background-size: 100%;
}