body {
  overflow: hidden;
}

html,
body,
#container {
  width: 100%;
  height: 100%;
}

#container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.falling-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.rising-element {
  width: 5px;
  height: 5px;
  position: absolute;
  background-size: 100% 100%;
  opacity: 0.1;
}

.explosion-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.firework-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.fade-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.beer-avatar {
  width: var(--avatar-size-standard);
  height: var(--avatar-size-standard);
  position: absolute;
  background-size: 100% 100%;
  opacity: 0.8;
  filter: blur(2px);
}

.beer-glass {
  position: absolute;
  background-size: 100% 100%;
  height: 80%;
  width: auto;
  aspect-ratio: 0.65; 
}

.volcano-element {
  width: var(--emote-size-standard);;
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.cyclone-element {
  width: var(--emote-size-standard);;
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.lurking-element {
  width: 400px;
  height: 400px;
  position: absolute;
  background-size: 100%;
}
.cheers-element {
  width: 400px;
  height: 400px;
  position: absolute;
  background-size: 100%;
}
.beer-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100%;
}
.choon-element {
  width: var(--avatar-size-standard);
  height: var(--avatar-size-standard);
  position: absolute;
  background-size: 100%;
  z-index: 5; /* Increased z-index to make visible */
}

/* Enhanced singing container styles */
.singing-container {
  position: absolute;
  width: var(--avatar-size-standard);
  height: var(--avatar-size-standard);
  z-index: 5;
  transform-origin: center center;
  /* Add subtle glow effect for the singing container */
  filter: drop-shadow(0 0 3px rgba(255,255,255,0.5));
}

.mouth-overlay {
  position: absolute;
  width: 40%;
  height: 20%;
  bottom: 25%;
  left: 30%;
  z-index: 15;
  border-radius: 50%;
  transform-origin: center;
}

.note-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100%;
  z-index: 4; /* Place notes behind the profile */
  filter: blur(0.5px) invert(44%) sepia(61%) saturate(1001%) hue-rotate(0deg) brightness(99%) contrast(101%);
}

.rightwave-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}

.carousel-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.spiral-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.bounce-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.comet-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.dvd-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.text-element {
  width: var(--emote-size-small);
  height: var(--emote-size-small);
  position: absolute;
  background-size: 100% 100%;
}
.cube-element {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
  position: absolute;
  background-size: 100% 100%;
}
.cheers-element {
  width: var(--avatar-size-standard);
  height: var(--avatar-size-standard);
  position: absolute;
  background-size: 100%;
}

.raider-element {
  width: var(--avatar-size-small);
  height: var(--avatar-size-small);
  position: absolute;
  background-size: 100%;
}
.invader-element {
  position: absolute;
  background-size: inherit;
  background-repeat: no-repeat;
}

.train-cart {
  margin-top: 25px;
}

.cart-image {
  width: var(--emote-size-standard);
  height: var(--emote-size-standard);
}

.coinHeads, .coinEdge, .coinLine, .coinTails, #flipBtn {
	display:block;
	position:absolute;
	left: 0px;
}

.coinBox {
  display:block;
	position:absolute;
	height: var(--emote-size-large);
	width: var(--emote-size-large);
  border: 0px solid white;
}

.coinHeads {
	height:var(--emote-size-large);
	width:var(--emote-size-large);
	z-index:30;
	top: 0px;
}

.coinEdge {
	height:var(--emote-size-large);
	width:var(--emote-size-large);
	z-index:20;
	top: 0px;
}

#cointainer{
  background-color:black;
  width:100%;
  height:80vh;
  overflow:visible;
  position:relative;
}
.coinLine {
	top: 50px;
	height:0px;
	width:var(--emote-size-large);
	z-index:10;
}

.coinTails {
	top: 0px;
	height:var(--emote-size-large);
	width:var(--emote-size-large);
	z-index:40;
	opacity:0;
}

#flipBtn {
	top: calc(var(--emote-size-large) * 2);
	left: 50px;
}